.todo-container{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    border-radius: 15px;
    background-color: rgb(149, 255, 236);
    box-shadow: 1px 1px 30px  rgb(67, 217, 192);
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
}


.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#inputFeild{
    width: 230px;
    height: 30px;
    border-radius: 30px;
    border: none;
    padding-left: 12px;
    outline: none;
}

#btn{
    width: 90px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color:yellow;
}

#btn:hover{
    box-shadow: 1px 1px 20px yellow;
    outline: none;
}

#listContainer{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    color: black;
    gap: 12px;
}

#listContainer li {
    list-style: none;
    width: 330px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(242, 242, 242);
    display: flex;
    padding-left: 20px;
    align-items: center;
}

li{
    list-style: none;
    width: 350px;
    height: 25px;
    align-items: center;
    background-color: aqua;
}



